[data-mfm="root"]
  background-color: #ffffff
  cursor: default
  display: block
  margin: 0
  padding: 0
  overflow-wrap: break-word
  color: #717171
  line-height: 1.5em

  *
    background-clip: padding-box

  [data-mfm="strike"],
  del
    text-decoration: line-through

  [data-mfm="inlineCode"],
  code
    display: inline-block
    padding: 4px 8px
    margin: 0 0.5em
    font-size: 80%
    color: #525252
    background: rgba(0,0,0,.05)
    border-radius: 2px
    line-height: 1.171875em

  [data-mfm="blockCode"],
  pre
    display: block
    overflow: auto
    white-space: pre
    margin: 8px 0
    font-size: 80%
    line-height: 1.171875em
    background: rgba(0,0,0,.05)

    > [data-mfm="blockCode-inner"],
    > code:not([data-mfm="math"])
      display: block
      padding: 1rem
      border-radius: 2px
      margin: 0
      color: #525252
      background-color: transparent
      width: fit-content

  [data-mfm="center"],
  .center
    display: block
    text-align: center

  [data-mfm="quote"],
  blockquote
    margin: 8px
    padding: 6px 12px
    color: #aaa
    border-left: solid 3px #eee

  [data-mfm="title"],
  .title
    display: block
    margin-bottom: 4px
    padding: 4px
    font-size: 90%
    text-align: center
    background: #eef1f3
    border-radius: 4px

  [data-mfm="big"],
  .big
    display: inline-block
    font-size: 150%
    animation-iteration-count: infinite

  [data-mfm="motion"],
  .motion
    display: inline-block
    animation-iteration-count: infinite

  [data-mfm="search"],
  .search
    display: flex
    margin: 8px 0

    > input
      appearance: none
      box-shadow: none
      min-width: 0px
      flex-shrink: 1
      padding: 10px
      width: 100%
      height: 40px
      font-family: sans-serif
      font-size: 16px
      color: $googleSearchFg
      background: $googleSearchBg
      border: solid 1px $googleSearchBorder
      border-radius: 4px 0 0 4px

      &:hover
        border-color: $googleSearchHoverBorder

    > button
      appearance: none
      box-shadow: none
      flex-shrink: 0
      padding: 0 16px
      border: solid 1px $googleSearchBorder
      border-left: none
      border-radius: 0 4px 4px 0
      margin: 0
      background: transparent
      cursor: pointer
      color: inherit

      &:hover
        background-color: #eee

  a
    text-decoration: none
    color: $primary
    cursor: pointer

    &:hover
      text-decoration: underline