$primary: #f6584f !default
$mfmBgColor: #ffffff !default
$mfmColor: #717171 !default

$mfmInlineCodeColor: #525252 !default

$mfmBlockCodeColor: #525252 !default

$mfmBlockQuoteColor: #aaa !default

$mfmTitleBg: rgba(0, 0, 0, 0.07) !default

$googleSearchHoverButton: rgba(0, 0, 0, 0.05) !default
$googleSearchBorder: rgba(0, 0, 0, 0.2) !default
$googleSearchHoverBorder: rgba(0, 0, 0, 0.3) !default
$googleSearchFg: rgb(85, 89, 92) !default
$googleSearchBg: #fff !default
$googleSearchButtonBgHover: #eee !default

@import './_mfm'
@import './_url'
